<form method="post" action="{{ path('app_media_delete', {'id': media.id}) }}" style="display:inline-block;" onsubmit="return confirm('Voulez-vous vraiment supprimer ce média ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ media.id) }}">
    <button class="btn btn-sm btn-danger">Supprimer</button>
</form>
