{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau Média{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="text-center">Créer un Média</h1>

        {{ include('media/_form.html.twig', {form: form, 'button_label': 'Ajouter'}) }}
        <div class="w-50 mx-auto">
            <a href="{{ path('app_media_index') }}" class="btn btn-secondary mt-2">Retour à la liste</a>
        </div>
    </div>
{% endblock %}
