{% extends 'base.html.twig' %}

{% block title %}Equit'Gaby{% endblock %}

{% block body %}
<div class="container my-5">

    <h1 class="text-center mb-5">Faites un joli pansage pour votre cheval</h1>

    <div class="row justify-content-center mb-5">
        <div class="col-lg-8">
            <p class="lead">
                Ce site est destiné aux cavaliers souhaitant avoir du matériel de pansage de cheval de qualité.
            </p>
            <p>
                Pour faire une commande, vous devez :
            </p>
            <ol>
                <li>Être connecté (créer un compte si vous n'en avez pas encore)</li>
                <li>Aller dans le catalogue pour commencer votre commande</li>
            </ol>
            <p class="fw-bold mt-4">
                Pour rappel, l'ordre des étapes du pansage d'un cheval est le suivant :
            </p>
            <ol class="sequence">
                <li>Utilisation de l'étrille</li>
                <li>Utilisation du bouchon</li>
                <li>Utilisation de la brosse douce</li>
                <li>Utilisation de la brosse à crins</li>
                <li>Utilisation du cure-pieds</li>
            </ol>
        </div>
    </div>

    {# Images centrées et responsives #}
    <div class="row justify-content-center g-3">
        <div class="col-12 col-md-4 text-center">
            <img src="/img/home/image-presentation1.jpg" class="img-fluid rounded shadow" alt="Présentation 1">
        </div>
        <div class="col-12 col-md-4 text-center">
            <img src="/img/home/image-presentation2.jpg" class="img-fluid rounded shadow" alt="Présentation 2">
        </div>
        <div class="col-12 col-md-4 text-center">
            <img src="/img/home/image-presentation3.jpg" class="img-fluid rounded shadow" alt="Présentation 3">
        </div>
    </div>

</div>
{% endblock %}
