{% extends 'base.html.twig' %}

{% block title %}Créer une nouvelle Catégorie{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="text-center">Créer une Catégorie</h1>

        {{ include('category/_form.html.twig', {form: form, 'button_label': 'Ajouter'}) }}
        <div class="text-center w-50 mx-auto">
            <a href="{{ path('app_category_index') }}" class="btn btn-secondary mt-2">Retour à la liste</a>
        </div>
    </div>
{% endblock %}
