<form method="post" action="{{ path('app_customer_address_delete', {'id': customer_address.id}) }}" style="display:inline-block;" onsubmit="return confirm('Voulez-vous vraiment supprimer cette adresse ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ customer_address.id) }}">
    <button class="btn btn-sm btn-danger">Supprimer</button>
</form>
